*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

#container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: darkgrey;
    padding: 5px;
}


#sidebar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    padding: 0.5rem;
    gap: .5rem;
    padding-inline: .5rem;
}


#sidebar .clear{
    grid-column: 1/-1;
    padding: 0.5rem;

}

#sidebar .clear button{
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    cursor: pointer;
}

.color {
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}

#main {
    display: grid;
    grid-template-columns: repeat(60, 1fr);
    height: 100vh;
}

#main >* {
    border: solid 1px lightgray;
    background-color: white;
}

